<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet"href="/resources/css/admin.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@264&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@264&display=swap" rel="stylesheet">
	

    
      <title>Admin</title>
      </head>
    

<body>
    <header class="header">
        <div class="bg-white">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class=" navg navbar-nav w-100 justify-content-center">
                          <li><a class="nav-link" href="/Materiales">Materiales</a></li>
                          <li><a class="nav-link" href="/pedidos">Pedidos</a></li>
                          <li><a class="nav-item nav-link" href="https://instagram.com/laclinicadelmueblej.m?r=nametag" target="_blanck"><i class="fab fa-instagram"></i></a></li>
                          
                          
                          <lu class="nav navbar-nav navbar-right">
  
                            <li><a href="logout" class="a-logout" style="position: relative; top: 15%;">Cerrar sesion</a></li>
  
                          </lu>
  
                          </div>
                      </div>
                    </div>
                  </nav>
            </div>
          </div>

          <script src="https://kit.fontawesome.com/60275595f3.js" crossorigin="anonymous"></script>
</body>
</html>